* {
    text-align: center;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 30pt;
}

h2 {
    font-size: 25pt;
}

p {
    font-size: 16pt;
}

select {
    font-size: 13pt;
    user-select: none;
    -webkit-user-select: none;
}